In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Collecting selenium
  Using cached selenium-4.7.2-py3-none-any.whl (6.3 MB)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.7.2 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

We have downloaded the webDriver for Web Browser

Now we connect to driver by any one of 2 methods below

# Question 1

In [5]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [6]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [7]:
#Opening the naukri 
driver.get("https://www.naukri.com/")

In [156]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [157]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [158]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [159]:
title=[]
location=[]
company=[]
experience=[]

In [160]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title_tags=i.text
    title.append(title_tags)


location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location_tags=i.text
    location.append(location_tags)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_tags=i.text
    company.append(company_tags)

    
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp_tags=i.text
    experience.append(exp_tags)

In [161]:
print(len(title),len(location),len(company),len(experience))

10 10 10 10

In [162]:
df=pd.DataFrame({'Title':title,'Location':location,'Company':company,'Experience':experience})
df

,Title,Location,Company,Experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Data Analyst (Jr/Sr),Bangalore/Bengaluru,Pole To Win (PTW),1-4 Yrs
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
6,Data Analysts - Compliance Surveillance,Hybrid - Bangalore/Bengaluru,Standard Chartered Bank,4-9 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

# Question 2

In [163]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [164]:
#Opening the naukri 
driver.get("https://www.naukri.com/")

In [165]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [166]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [167]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [168]:
title=[]
location=[]
company=[]
experience=[]

In [169]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title_tags=i.text
    title.append(title_tags)


location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location_tags=i.text
    location.append(location_tags)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_tags=i.text
    company.append(company_tags)

    
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp_tags=i.text
    experience.append(exp_tags)

In [170]:
print(len(title),len(location),len(company),len(experience))

10 10 10 10

In [171]:
df=pd.DataFrame({'Title':title,'Location':location,'Company':company,'Experience':experience})
df

,Title,Location,Company,Experience
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,9-14 Yrs
1,Data Scientist,"Temp. WFH - Hyderabad/Secunderabad, Pune, Chen...",Tech Mahindra,7-12 Yrs
2,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
3,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
4,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,8-12 Yrs
5,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft,8-12 Yrs
6,Data Scientist,Bangalore/Bengaluru,ANZ,2-7 Yrs
7,Data Scientist Knowledge graph,"Hybrid - Pune, Bangalore/Bengaluru",Capco,7-12 Yrs
8,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
9,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks,7-11 Yrs

# Question 3

In [232]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [233]:
#Opening the naukri 
driver.get("https://www.naukri.com/")

In [234]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [235]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [237]:
location_delhi=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location_delhi.click()

In [238]:
salary_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [239]:
title=[]
location=[]
company=[]
experience=[]

In [240]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title_tags=i.text
    title.append(title_tags)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location_tags=i.text
    location.append(location_tags)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_tags=i.text
    company.append(company_tags)

    
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp_tags=i.text
    experience.append(exp_tags)

In [241]:
print(len(title),len(location),len(company),len(experience))

10 10 10 10

In [242]:
df=pd.DataFrame({'Title':title,'Location':location,'Company':company,'Experience':experience})
df

,Title,Location,Company,Experience
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
1,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
2,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
3,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs
4,Data Scientist,Permanent Remote,Vizlogic Digital Solutions,2-5 Yrs
5,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs
6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
7,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs
8,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs
9,Associate Data Scientist,Noida,Navikenz India,3-8 Yrs

# Question 4

In [13]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [14]:
driver.get("http://www.flipkart.com/")

In [15]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [16]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [17]:
Name=[]
Price=[]
Discount=[]
experience=[]

In [18]:
start=0
end=3
for page in range(start,end):
    Name_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Name_tags[0:100]:
        Name.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)
    
    
start=0
end=3
for page in range(start,end):
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
    for i in Price_tags[0:100]:
        Price.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)


start=0
end=3
for page in range(start,end):
    Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Discount_tags[0:100]:
        Discount.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)

In [19]:
print(len(Name),len(Price),len(Discount))

120 120 120

In [20]:
df=pd.DataFrame({'Sunglasses':Name[0:100],'Price':Price[0:100],'Discount':Discount[0:100]})
df

       Sunglasses   Price Discount
0       CART2DEAL  ₹1,999     ₹637
1            IRUS  ₹1,199   ₹1,244
2        Fastrack  ₹1,497     ₹599
3       Elligator  ₹1,999     ₹149
4       Elligator  ₹1,499     ₹499
..            ...     ...      ...
95      CART2DEAL  ₹1,199     ₹404
96  VINCENT CHASE  ₹1,299     ₹599
97      New Specs    ₹875     ₹149
98      Elligator  ₹1,999     ₹259
99          Prism  ₹2,700     ₹540

[100 rows x 3 columns]

# Question 5

In [8]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [401]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [402]:
Rating=[]
Review_Summary=[]
Full_Review=[]

In [403]:
start=0
end=10
for page in range(start,end):
    Rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in Rating_tags:
        Rating.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)

In [404]:
start=0
end=10
for page in range(start,end):
    Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in Review_tags:
        Review_Summary.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)

In [405]:
start=0
end=10
for page in range(start,end):
    FullReview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in FullReview_tags:
        Full_Review.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)

In [406]:
print(len(Rating),len(Review_Summary),len(Full_Review))

100 100 100

In [407]:
df=pd.DataFrame({'Rating':Rating,'Review_Summary':Review_Summary,'Full_Review':Full_Review})
df

,Rating,Review_Summary,Full_Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Perfect product!,It is just awesome mobile for this price from ...
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Highly recommended,"Amazing camera quality as expected, battery al..."

# Question 6

In [143]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [144]:
driver.get("http://www.flipkart.com/")

In [145]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [147]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [148]:
Brand=[]
Description=[]
Price=[]

In [149]:
start=0
end=3
for page in range(start,end):
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tags[0:100]:
        Brand.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)

In [150]:
start=0
end=3
for page in range(start,end):
    Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Description_tags[0:100]:
        Description.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)

In [151]:
start=0
end=3
for page in range(start,end):
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags[0:100]:
        Price.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_button.click()
    time.sleep(3)

In [155]:
print(len(Brand[0:100]),len(Description[0:100]),len(Price[0:100]))

100 100 100

In [156]:
df=pd.DataFrame({'Brand':Brand[0:100],'Product_Description':Description[0:100],'Price':Price[0:100]})
df

,Brand,Product_Description,Price
0,BRUTON,GAIMAN 2.O Sneakers For Men,₹599
1,BRUTON,fuzor B Sneakers For Men,₹599
2,aadi,HL-WV-00109942 Sneakers For Men,₹434
3,World Wear Footwear,Platform Chunky Trainer/Sneakers -BOOM Mid Top...,₹399
4,SFR,Sneakers For Women,₹399
...,...,...,...
95,LE GREEM,x KL Columbus Sneakers For Men,₹699
96,Deals4you,Sneakers For Men,₹449
97,Kzaara,DT-SS22-128B Sneakers For Men,₹329
98,aadi,PANAL Sneakers For Men,₹419
99,RED CHIEF,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹750

# Question 7

In [69]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [70]:
driver.get("https://www.amazon.in/")

In [71]:
laptop=driver.find_element(By.ID,"twotabsearchtextbox")
laptop.send_keys('Laptop')

In [72]:
search=driver.find_element(By.ID,"nav-search-submit-button")
search.click()

In [74]:
type_icore7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[13]/span/a/span')
type_icore7.click()

In [75]:
Title=[]
Ratings=[]
Price=[]

In [76]:
Title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in Title_tags[0:10]:
    Title.append(i.text)
    

Ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in Ratings_tags[0:10]:
    Ratings.append(i.text)
    
Price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in Price_tags[0:10]:
    Price.append(i.text)

In [77]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [78]:
df=pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df

                                               Title Ratings     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...      91    94,990
1  LG Gram14 Intel EVO-[12th Gen Corei7/Win11/16G...      43    84,500
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...       8    56,990
3  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...       9    78,106
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...      67    79,990
5  HP Victus Gaming Latest 12th Gen Intel Core i7...     106    84,990
6  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...      14    99,990
7  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     104    94,630
8  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...      13  1,44,990
9  Dell Alienware x14 Gaming Laptop, Intel i7-127...      15  1,69,990

# Question 8

In [189]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [190]:
driver.get("https://www.azquotes.com/")

In [191]:
Top_Quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Top_Quotes.click()

In [192]:
Quote=[]
Author=[]
Types_of_Quotes=[]

In [193]:
start=0
end=10
for page in range(start,end):
    Quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in Quote_tags[0:1000]:
        Quote.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    NEXT_button.click()
    time.sleep(1)

In [194]:
start=0
end=10
for page in range(start,end):
    Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in Author_tags[0:1000]:
        Author.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    NEXT_button.click()
    time.sleep(1)

In [195]:
start=0
end=10
for page in range(start,end):
    Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Types_tags[0:1000]:
        Types_of_Quotes.append(i.text)
    NEXT_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    NEXT_button.click()
    time.sleep(1)

In [196]:
print(len(Quote),len(Author),len(Types_of_Quotes))

1000 1000 1000

In [197]:
df=pd.DataFrame({'Quotes':Quote,'Authors':Author,'Types of Quotes':Types_of_Quotes})
df

,Quotes,Authors,Types of Quotes
0,The essence of strategy is choosing what not t...,Amelia Earhart,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Ludwig von Mises,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Elizabeth Cady Stanton,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Benjamin Spock,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,Charles Kettering,"Inspirational, Motivational, Teacher"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Question 9

In [328]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [329]:
driver.get("https://www.jagranjosh.com/")

In [330]:
GK=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
GK.click()

In [331]:
list_PM=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
list_PM.click()

In [332]:
Name=[]
Born_Dead=[]
Tenure=[]
Remark=[]

In [333]:
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for name in names:
    Name.append(name.text)

In [22]:
years = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for year in years:
    Born_Dead.append(year.text)

In [335]:
Term= driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in Term[0:18]:
    Tenure.append(i.text)

In [336]:
Remark_Tags= driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in Remark_Tags:
    Remark.append(i.text)

In [337]:
print(len(Name),len(Born_Dead),len(Tenure),len(Remark))

18 18 18 18

In [338]:
df=pd.DataFrame({'PM Names':Name,'Born_Dead':Born_Dead,'Term of Office':Tenure[0:18],'Remarks':Remark})
df

,PM Names,Born_Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"16 years, 286 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"27 May 1964 to 9 June 1964,",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),13 days,-
4,Indira Gandhi,(1917–1984),9 June 1964 to 11 January 1966,First female Prime Minister of India
5,Morarji Desai,(1896–1995),"1 year, 216 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),11 January 1966 to 24 January 1966,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),13 days,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),24 January 1966 to 24 March 1977,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),"11 years, 59 days",First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),24 March 1977 to 28 July 1979,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"2 year, 126 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),28 July 1979 to 14 January 1980,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),170 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),14 January 1980 to 31 October 1984,------
15,Atal Bihari Vajpayee,(1924-2018),"4 years, 291 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),31 October 1984 to 2 December 1989,First Sikh PM
17,Narendra Modi,(born 1950),"5 years, 32 days",4th Prime Minister of India who served two con...

# Question 10

Asked to skip