In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\admin\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [116]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

# Question 1

In [98]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [99]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [100]:
for _ in range(10):
    driver.execute_script("window.scrollBy(0,100)")
    time.sleep(1)

In [101]:
driver.maximize_window()

In [102]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [103]:
#Extracting Rank:

try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in rank[0:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    

#Extracting Video Name:

try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in name[0:30]:
        Name.append(i.text.split('[')[0])
except NoSuchElementException:
    Name.append('-')
    
    
#Extracting Artist:

try:
    artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in artist[0:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')


    
#Extracting Upload Date:   
try:
    date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in date[0:30]:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')
    
    
#Extracting Views:   
try:
    view=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in view[0:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [104]:
print(len(Rank),len(Name),len(Artist),len( Upload_Date),len(Views))

30 30 30 30 30

In [105]:
df=pd.DataFrame({'Video Rank':Rank,'Video Name':Name,'Artist':Artist,'Upload Date':Upload_Date,'Views(Billions)':Views})
df

,Video Rank,Video Name,Artist,Upload Date,Views(Billions)
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.3
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",8.1
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.59
3,4.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.96
4,5.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.89
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.76
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.12
7,8.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.84
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.82
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.8
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.66
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.21
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.81
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.72
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.71
16,17.,"""Axel F""",Crazy Frog,"June 16, 2009",3.71
17,18.,"""Sorry""",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.54
19,20.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.48
20,21.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.44
21,22.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.43
22,23.,"""Faded""",Alan Walker,"December 3, 2015",3.39
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.37
24,25.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.36
25,26.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.35
26,27.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.32
27,28.,"""Lean On""",Major Lazer,"March 22, 2015",3.32
28,29.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.29
29,30.,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.26

# Question 2

In [59]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [60]:
driver.get("http://www.bcci.tv/")
driver.maximize_window()
time.sleep(1)

In [61]:
international=driver.find_element(By.CLASS_NAME,"nav-link")
international.click()

In [111]:
for _ in range(20):
    driver.execute_script("window.scrollBy(0,50)")

In [112]:
more_fix=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
more_fix.click()

In [113]:
url=[]
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [114]:
time=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]')
try:
    for i in time:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [115]:
url_1=driver.find_elements(By.XPATH,'//a[@class="match-center-btn ng-scope"]')
for i in url_1:
    url.append(i.get_attribute('href'))

In [116]:
for link in url:
    driver.get(link)
    time.sleep(1)
    
#Extracting Place:

    try:
        place=driver.find_element(By.XPATH,'//div[@class="matchVenue alignC"]')
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('-')
        
#Extracting Date:

    try:
        date=driver.find_element(By.XPATH,'//div[@class="matchDate alignC ng-binding ng-scope"]')
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('-')
        
#Extracting Series:
    try:
        name=driver.find_element(By.XPATH,'//div[@class="tournament--name ng-binding ng-scope"]')
        Series.append(name.text)
    except NoSuchElementException:
        Series.append('-')
        
#Extracting Title:
    try:
        title=driver.find_element(By.XPATH,'//div[@id="scoreBox"]')
        Title.append(title.text.split('\n')[1])
    except NoSuchElementException:
        Title.append('-')

In [117]:
print(len(Title),len(Series),len(Place),len(Date),len(Time),len(url))

13 13 13 13 13 13

In [119]:
df=pd.DataFrame({'Match Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time,'Links':url})
df

,Match Title,Series,Place,Date,Time,Links
0,3rd T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"NARENDRA MODI STADIUM , AHMEDABAD",1 FEB 2023,7:00 PM IST,https://www.bcci.tv/events/99/new-zealand-tour...
1,5th T20I,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"BUFFALO PARK , EAST LONDON",2 FEB 2023,6:30 PM IST,https://www.bcci.tv/events/103/womens-t20i-tri...
2,1st Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"VIDARBHA CRICKET ASSOCIATION STADIUM , NAGPUR",9 FEB 2023,9:30 AM IST,https://www.bcci.tv/events/100/australia-tour-...
3,1st T20I,ICC WOMENS T20 WORLD CUP 2023,"NEWLANDS , CAPE TOWN",12 FEB 2023,6:30 PM IST,https://www.bcci.tv/events/104/icc-womens-t20-...
4,2nd T20I,ICC WOMENS T20 WORLD CUP 2023,"NEWLANDS , CAPE TOWN",15 FEB 2023,6:30 PM IST,https://www.bcci.tv/events/104/icc-womens-t20-...
5,2nd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"ARUN JAITLEY STADIUM , DELHI",17 FEB 2023,9:30 AM IST,https://www.bcci.tv/events/100/australia-tour-...
6,3rd T20I,ICC WOMENS T20 WORLD CUP 2023,"ST GEORGE'S PARK , GQEBERHA",18 FEB 2023,6:30 PM IST,https://www.bcci.tv/events/104/icc-womens-t20-...
7,4th T20I,ICC WOMENS T20 WORLD CUP 2023,"ST GEORGE'S PARK , GQEBERHA",20 FEB 2023,6:30 PM IST,https://www.bcci.tv/events/104/icc-womens-t20-...
8,3rd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"HIMACHAL PRADESH CRICKET ASSOCIATION STADIUM ,...",1 MAR 2023,9:30 AM IST,https://www.bcci.tv/events/100/australia-tour-...
9,4th Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"NARENDRA MODI STADIUM , AHMEDABAD",9 MAR 2023,9:30 AM IST,https://www.bcci.tv/events/100/australia-tour-...
10,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"WANKHEDE STADIUM , MUMBAI",17 MAR 2023,1:30 PM IST,https://www.bcci.tv/events/101/australia-tour-...
11,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,DR YS RAJASEKHARA REDDY ACA-VDCA CRICKET STADI...,19 MAR 2023,1:30 PM IST,https://www.bcci.tv/events/101/australia-tour-...
12,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA CHIDAMBARAM STADIUM , CHENNAI",22 MAR 2023,1:30 PM IST,https://www.bcci.tv/events/101/australia-tour-...

# Question 3

In [2]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("http://statisticstimes.com/")
driver.maximize_window()

In [4]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [5]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [6]:
GDP_States=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_States.click()
time.sleep(1)

In [7]:
#Scrolling
for _ in range(20):
    driver.execute_script("window.scrollBy(0,100)")

In [8]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [9]:
#Extracting Rank:

try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    
#Extracting States:

try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
    
#Extracting GSDP(18-19):

try:
    gsdp1=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp1:
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append('-')
    

#Extracting GSDP(19-20):

try:
    gsdp2=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp2:
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append('-')
    
#Extracting Shares :

try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')
    
#Extracting GDP :

try:
    billion=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in billion:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [10]:
print(len(Rank),len(State),len(GSDP1),len(GSDP2),len(Share),len(GDP))

33 33 33 33 33 33

In [11]:
df=pd.DataFrame({'Rank':Rank,'States':State,'GSDP(18-19)- at current prices':GSDP2,'GSDP(19-20)- at current prices':GSDP1,' Share(18-19)':Share,'GDP($ billion)':GDP})
df

,Rank,States,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question 4

In [139]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [140]:
driver.get("https://github.com/")
driver.maximize_window()
time.sleep(1)

In [141]:
explore=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div[3]/nav/a[5]")
explore.click()

In [142]:
trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[5]/main/div[1]/nav/div/a[3]")
trending.click()

In [143]:
#Extracting all Links

url=[]

link=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in link:
    url.append(i.get_attribute('href'))

In [144]:
Repository=[]
Description=[]
Count=[]
Language=[]

In [145]:
for i in url:
    driver.get(i)
    time.sleep(2)
    
#Scraping Title-

    try:
        title = driver.find_element(By.XPATH,'//div[@class="flex-auto min-width-0 width-fit mr-3"]')
        Repository.append(title.text.split('\n')[0:3])

    except NoSuchElementException:
        Repository.append('-') 
   
        
#Scraping Description -


    try: 
        des = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Description.append(des.text)
    except NoSuchElementException:
        Description.append('-') 
        
        
#Scraping Contributors Count-


    try: 
        cont_tags = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Count.append(cont_tags.text.replace('Contributors',''))
    except NoSuchElementException:
        Count.append('-') 

        
#Scraping Languages-
    try:
        language = driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Language.append(language.text)
    except NoSuchElementException:
        Language.append('-')

In [146]:
print(len(Repository),len(Description),len(Count),len(Language),len(url))

25 25 25 25 25

In [147]:
df=pd.DataFrame({'Repository Name':Repository,'Repository Description':Description,'Contributors Count':Count,'Language':Language})
df

,Repository Name,Repository Description,Contributors Count,Language
0,"[LAION-AI, /, Open-Assistant]",OpenAssistant is a chat-based assistant that u...,123,Python
1,"[motion-canvas, /, motion-canvas]",Visualize Complex Ideas Programmatically,13,TypeScript
2,"[arc53, /, DocsGPT]",GPT-powered chat for documentation search & as...,7,HTML
3,"[acheong08, /, ChatGPT]",Reverse engineered ChatGPT API,53,Python
4,"[denoland, /, deno]",A modern runtime for JavaScript and TypeScript.,777,Rust
5,"[f, /, awesome-chatgpt-prompts]",This repo includes ChatGPT prompt curation to ...,59,HTML
6,"[hikari-no-yume, /, touchHLE]",High-level emulator for iPhone OS apps,2,Rust
7,"[Zero6992, /, chatGPT-discord-bot]",Integrate ChatGPT into your own discord bot,11,Python
8,"[donnemartin, /, system-design-primer]",Learn how to design large-scale systems. Prep ...,117,Python
9,"[yangshun, /, tech-interview-handbook]",💯 Curated coding interview preparation materia...,133,TypeScript
10,"[OpenBB-finance, /, OpenBBTerminal]","Investment Research for Everyone, Anywhere.",168,Python
11,"[home-assistant, /, core]",🏡 Open source home automation that puts local ...,"3,089",Python
12,"[sindresorhus, /, awesome]",😎 Awesome lists about all kinds of interesting...,549,-
13,"[LeagueOfPoro, /, CapsuleFarmerEvolved]",Automatically drops from lolesports.com and fa...,7,Python
14,"[bitcoin, /, bitcoin]",Bitcoin Core integration/staging tree,900,C++
15,"[freeCodeCamp, /, freeCodeCamp]",freeCodeCamp.org's open-source codebase and cu...,"4,652",TypeScript
16,"[hyprwm, /, Hyprland]",Hyprland is a highly customizable dynamic tili...,89,C++
17,"[codecrafters-io, /, build-your-own-x]",Master programming by recreating your favorite...,96,-
18,"[TheAlgorithms, /, JavaScript]",Algorithms and Data Structures implemented in ...,263,JavaScript
19,"[techiescamp, /, kubernetes-learning-path]",A roadmap to learn Kubernetes from scratch (Be...,8,-
20,"[vasanthk, /, how-web-works]",What happens behind the scenes when we type ww...,9,-
21,"[orlp, /, glidesort]","A Rust implementation of Glidesort, my stable ...",-,Rust
22,"[microsoft, /, BioGPT]",-,7,Python
23,"[timqian, /, chinese-independent-blogs]",中文独立博客列表,915,JavaScript
24,"[zhayujie, /, chatgpt-on-wechat]",使用ChatGPT搭建微信聊天机器人，基于OpenAI API和itchat实现。Wecha...,3,Python

# Question 5

In [37]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [38]:
driver.get("https://www.billboard.com/")
driver.maximize_window()
time.sleep(1)

In [39]:
chart=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
chart.click()

In [41]:
top_100=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span")
top_100.click()
time.sleep(1)

In [42]:
Song=[]
Artist=[]
L_W_Rank=[]
P_Rank=[]
W_Board=[]

In [46]:
#Extracting Song Name:
try:
    song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('-')



#Extracting Artist Name:
try:
    name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in name:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')


#Extracting Lat Week Rank:       
try:
    rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span[1]')
    for i in rank:
        L_W_Rank.append(i.text)
except NoSuchElementException:
    L_W_Rank.append("-")
    
    
#Extracting Peak Rank:
try:
    rank1=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
    for i in rank1:
        P_Rank.append(i.text)
except NoSuchElementException:
     P_Rank.append('-')

        
#Extracting Weeks on Board:
try:
    board=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
    for i in board:
        W_Board.append(i.text)
except NoSuchElementException:
     W_Board.append('-')

In [44]:
print(len(Song),len(Artist),len(L_W_Rank),len(P_Rank),len(W_Board))

100 100 100 100 100

In [45]:
df=pd.DataFrame({'Song Name':Song,'Artist Name':Artist,'Last Week Rank':L_W_Rank,'Peak Rank':P_Rank,'Weeks on Board':W_Board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Flowers,Miley Cyrus,1,1,2
1,Kill Bill,SZA,2,2,7
2,Anti-Hero,Taylor Swift,3,1,14
3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,4,8
4,Unholy,Sam Smith & Kim Petras,5,1,18
...,...,...,...,...,...
95,Do It Again,NLE Choppa & 2Rare,-,96,1
96,Miss You,Oliver Tree & Robin Schulz,96,84,9
97,Back End,Finesse2Tymes,-,98,1
98,Open Arms,SZA Featuring Travis Scott,89,54,6
99,Spit In My Face!,ThxSoMch,-,100,1

# Question 6

In [12]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [13]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [14]:
driver.maximize_window()

In [15]:
for _ in range(10):
    driver.execute_script("window.scrollBy(0,500)")
    time.sleep(1)

In [16]:
Rank=[]
Title=[]
Author=[]
Sales=[]
Publisher=[]
Genre=[]

In [17]:
#Extracting Ranking:
try:
    ranking=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[1]")
    for i in ranking:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

    
#Extracting Title:
try:
    tag=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in tag:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('-')
    
#Extracting Authors:
try:
    name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in name:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('-')

    
#Extracting Sales:
try:
    data=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in data:
        Sales.append(i.text)
except NoSuchElementException:
    Sales.append('-')
    
#Extracting Publisher:
try:
    agency=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in agency:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')

    
#Extracting Genre:
try:
    category=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in category:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')

In [18]:
print(len(Rank),len(Title),len(Author),len(Sales),len(Publisher),len(Genre),)

100 100 100 100 100 100

In [19]:
df=pd.DataFrame({'Rank':Rank,'Title':Title,'Author':Author,'Volume Sales':Sales,'Publisher':Publisher,'Genre':Genre})
df

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 7

In [43]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [44]:
driver.get("http://www.imdb.com/list/ls095964455/")

In [45]:
Name=[]
Year=[]
Genre=[]
Time=[]
Rating=[]
Votes=[]

In [46]:
#Extracting Tv Series Name

try:
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for i in name:
        a=(i.text.split('(')[0])
        Name.append(a.split('.')[1])
except NoSuchElementException:
    Name.append('-')
    

#Extracting Year Span:

try:
    year=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for i in year:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')
    
    
#Extracting Genre:

try:
    category=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in category :
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    
    
#Extracting Run Time:

try:
    time=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in time :
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

    
#Extracting Rating:

try:
    ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
    for i in ratings:
        Rating.append(i.text)
except NoSuchElementException:
    Rating.append('-')

    
#Extracting Votes:

try:
    vote=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in vote:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('-')

In [47]:
print(len(Name),len(Year),len(Genre),len(Time),len(Rating),len(Votes))

100 100 100 100 100 100

In [48]:
df=pd.DataFrame({'Show Name':Name,'Year Span':Year,'Genre':Genre,'Run Time':Time,'Ratings':Rating,'Votes':Votes})
df

,Show Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,117,903"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,206,907"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,004,010"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"296,519"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"255,446"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,659"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,528"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"202,250"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,979"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"249,965"

# Question 8

In [70]:
driver=webdriver.Chrome(r"F:\Internship\chromedriver_win32\chromedriver.exe")

In [71]:
driver.get("https://archive.ics.uci.edu/")
time.sleep(1)

In [72]:
driver.maximize_window()

In [73]:
show=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
show.click()

In [74]:
Name=[]
Type=[]
Task=[]
Attribute=[]
Instance=[]
Attribute_No=[]
Year=[]

In [75]:
#Extracting DataSets Names :
try:
    dataset=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[1]')
    for i in dataset[1:623]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append("NA")

    
#Extracting DataSets Types :
try:
    types=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[2]')
    for i in types[1:623]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append("NA")

    
#Extracting Tasks :
try:
    tasks=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]')
    for i in tasks[1:623]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append("NA")

   
    
#Extracting Attribute Type:
try:
    attribute=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]')
    for i in attribute[1:623]:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append("NA")
    

#Extracting No of Instances:
try:
    inst=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]')
    for i in inst[1:623]:
        Instance.append(i.text)
except NoSuchElementException:
    Instance.append("NA")

#Extracting No of Attributes:
try:
    number=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]')
    for i in number[1:623]:
        Attribute_No.append(i.text)
except NoSuchElementException:
    Attribute_No.append("NA")
    
    
#Extracting Year:
try:
    year=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[7]')
    for i in year[1:623]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append("NA")

In [76]:
print(len(Name),len(Type),len(Task),len(Attribute),len(Instance),len(Attribute_No),len(Year))

622 622 622 622 622 622 622

In [77]:
df=pd.DataFrame({'Dataset Name':Name,'Data Type':Type,'Task':Task,'Attribute Type':Attribute,'No. of Instances':Instance,'No. of Attribute':Attribute_No,'Year':Year})
df

,Dataset Name,Data Type,Task,Attribute Type,No. of Instances,No. of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021